@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<a href="https://github.com/amr-swalha/OpenTracer">Project GitHub</a>
<p>This project is licensed under Apache 2.0 License</p>
